<!DOCTYPE html>
<html>
<head>
	<title>Web Case Study</title>
</head>
<body>
<h1>Add Student</h1>


<form action="/addNewStudent" method="POST">
	<label for="sid">Student ID:</label><br>
 	<input type="text" id="sid" name="sid"><br>
	<label for="sname">First name:</label><br>
 	<input type="text" id="sname" name="sname"><br>
	
	
	<button>Add this student</button>
</form>

</body>
</html>