<!DOCTYPE html>
<html>
<head>
	<title>Web Case Study</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<div id="addStudent">
	<body>
	<h1>Add Student</h1>

	<div id="addStudentForm">
		<form action="/addNewStudent" method="POST">
			<label for="sid">Student ID:</label><br>
		 	<input type="text" id="sid" name="sid"><br><br>

			<label for="sname">First name:</label><br>
		 	<input type="text" id="sname" name="sname"><br><br>

		 	<input type="radio" id="male" name="sgender" value="male">
			<label for="male">Male</label><br>
			<input type="radio" id="female" name="sgender" value="female">
			<label for="female">Female</label><br>
			<input type="radio" id="other" name="sgender" value="other">
			<label for="other">Other</label><br><br>

			<label for="birthday">Date of Birth: </label><br>
		    <input type="date" id="birthday" name="sdob"><br><br>

		    <label for="city">City:</label><br>
		 	<input type="text" id="city" name="scity"><br><br>

		 	<label for="state">State:</label><br>
		 	<input type="text" id="state" name="sstate"><br><br>
		 	
		 	<label for="email">Email:</label><br>
		 	<input type="email" id="email" name="semail" placeholder="example@gmail.com"><br><br>
		 	
		 	<label for="qualification">Qualificaton:</label><br>
		 	<input type="text" id="qualification" name="squalification"><br><br>
		 	
		 	<label for="stream">Stream:</label><br>
		 	<input type="text" id="stream" name="sstream"><br><br>
		 	
		 	<!-- submit the form to backend -->
			<button>Add this student</button>
		</form>
	</div>
</div>

</body>
</html>