<!DOCTYPE html>
<html>
<head>
	<title>Web Case Study</title>
</head>
<link rel="stylesheet" type="text/css" href="/style.css">
<body>

<h1>Web Case Study</h1>

<!-- buttons -->
<a href="/addStudent"><button>Add new Student</button></a>
<a href="/searchStudent"><button>Search Student by ID</button></a>
<a href="/viewStudent"><button>Display All Student</button></a>


<script type="text/javascript" src="script.js"></script>
</body>
</html>