<!DOCTYPE html>
<html>
<head>
	<title>Web Case Study</title>
</head>
<body>
<h1>Search Student</h1>


<form>
  <label for="studentId">Student ID: </label><br>
  <input type="text" id="studentId" name="studentId"><br>
</form>

</body>
</html>